---
title: Gallery
layout: base.njk
---

<div>
  <h2>Gallery</h2>
  <div class="gallery">
    <img src="/gallery/images/img1.JPG" alt="Gallery Image 1">
    <img src="/gallery/images/img2.JPG" alt="Gallery Image 2">
    <img src="/gallery/images/img3.JPG" alt="Gallery Image 3">
  </div>
</div>