---
title: About Us
layout: base.njk
---

<div>
  <h2>About Us</h2>
  <img src="{{ page.url }}/about.jpg" alt="About Us Image" width="600">
  <p>We are a team of nature enthusiasts sharing our stories, tips, and photography from around the world.</p>
</div>
